@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

.cls-1 {
  isolation: isolate;
}
.cls-2 {
  @apply dark:fill-white fill-black;
}
.cls-2,
.cls-4,
.cls-5 {
  fill-rule: evenodd;
}
.cls-3 {
  mix-blend-mode: multiply;
}
.cls-4 {
  fill: url(#linear-gradient);
}
.cls-5 {
  fill: url(#linear-gradient-2);
}
